---
version: '3.8'

networks:
  pmm-network:

services:
  webhookd:
    image: ncarlier/webhookd
    container_name: webhookd
    restart: always
    ports:
      - "8080:8080"
    environment:
      - WHD_SCRIPTS=/var/opt/webhookd/scripts
      - WHD_PASSWD_FILE=/var/opt/webhookd/scripts/.htpasswd
    volumes:
      - ./testdata/ia/certs:/root
      - ./testdata/ia/scripts:/var/opt/webhookd/scripts
    networks:
      - pmm-network
