---
version: '3.7'

volumes:
  pmm-server-data:

networks:
  pmm-network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1

services:
  pmm-server:
    image: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:dev-latest}
    container_name: pmm-server
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ENABLE_DBAAS=1
      - PMM_DEBUG=1
      - PERCONA_TEST_SAAS_HOST=check-dev.percona.com:443
      - PERCONA_TEST_CHECKS_PUBLIC_KEY=RWTg+ZmCCjt7O8eWeAmTLAqW+1ozUbpRSKSwNTmO+exlS5KEIPYWuYdX
    volumes:
      - pmm-server-data:/srv
    networks:
     - pmm-network

  # It is essential to have an extra directory `/slowlogs/` between host and container;
  # Otherwise, MySQL in Docker for Mac completely locks during/after slowlog rotation tests.
  mysql:
    image: ${MYSQL_IMAGE:-percona:5.7.30}
    container_name: pmm-agent_mysql_5_7
    command: >
      --sql-mode="ANSI_QUOTES"
      --performance-schema --innodb_monitor_enable=all --userstat
      --slow_query_log --log_slow_rate_limit=1 --log_slow_admin_statements --log_slow_slave_statements --slow_query_log_file=/tmp/mysql/log/ps5_slow_log.log --long_query_time=0
      --character-set-server=utf8 --default-authentication-plugin=mysql_native_password --collation-server=utf8_unicode_ci
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=ps
      - MYSQL_USER=pmm-agent
      - MYSQL_PASSWORD=pmm%*&agent-password
      - UMASK=0777  # for slowlog file
    volumes:
      - /tmp/mysql/log:/tmp/mysql/log:rw
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  mysql8:
    image: ${MYSQL_IMAGE:-percona:8.0}
    container_name: pmm-agent_mysql_8_0
    command: >
      --sql-mode="ANSI_QUOTES"
      --performance-schema --innodb_monitor_enable=all --userstat
      --slow_query_log --log_slow_rate_limit=1 --log_slow_admin_statements --log_slow_slave_statements --slow_query_log_file=/tmp/mysql/log/ps8_slow_log.log --long_query_time=0
      --character-set-server=utf8 --default-authentication-plugin=mysql_native_password --collation-server=utf8_unicode_ci
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=ps
      - MYSQL_USER=pmm-agent
      - MYSQL_PASSWORD=pmm-agent-password
      - UMASK=0777  # for slowlog file
    volumes:
      - /tmp/mysql/log:/tmp/mysql/log
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  mongo:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:4.2.8}
    container_name: pmm-agent_mongo
    command: --profile 2
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root-!@#%^password
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  mongo_with_ssl:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:4.4}
    ports:
      - "27018:27017"
    command:
      - --profile=2
      - --sslMode=requireSSL
      - --sslPEMKeyFile=/etc/ssl/certificates/server.pem
      - --sslCAFile=/etc/ssl/certificates/ca.crt
      - --sslWeakCertificateValidation
      - --bind_ip=0.0.0.0
    volumes:
      - ${PWD}/testdata/mongodb:/etc/ssl/certificates
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  mongonoauth:
    image: ${MONGO_IMAGE:-percona/percona-server-mongodb:4.2.8}
    container_name: pmm-agent_mongonoauth
    command: --profile 2
    ports:
      - "27019:27017"
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  postgres:
    image: ${POSTGRES_IMAGE:-perconalab/percona-distribution-postgresql:13.3}
    container_name: pmm-agent_postgres
    command: >
      -c shared_preload_libraries=pg_stat_monitor,pg_stat_statements
      -c track_activity_query_size=2048
      -c pg_stat_statements.max=10000
      -c pg_stat_monitor.pgsm_query_max_len=10000
      -c pg_stat_monitor.pgsm_normalized_query=0
      -c pg_stat_statements.track=all
      -c pg_stat_statements.save=off
      -c track_io_timing=on
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=pmm-^*&@agent-password
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  proxysql:
    image: ${PROXYSQL_IMAGE:-proxysql/proxysql:2.1.1}
    container_name: pmm-agent_proxysql
    ports:
      - "6032:6032"
      - "6033:6033"
      - "6070:6070"
    volumes:
      - ${PWD}/testdata/proxysql/proxysql.cnf:/etc/proxysql.cnf:rw
    networks:
      - pmm-network
    depends_on:
      - pmm-server

  sysbench:
    image: perconalab/sysbench
    container_name: pmm-agent_sysbench
    depends_on:
      - mysql
    networks:
      - pmm-network
    command: >
      bash -c "
          set -o xtrace
          sleep 20
          mysql \
              --host=mysql \
              --port=3306 \
              --user=root \
              --password=ps \
              -e 'CREATE DATABASE IF NOT EXISTS sbtest'
          sysbench \
              --db-driver=mysql \
              --mysql-host=mysql \
              --mysql-port=3306 \
              --mysql-user=root \
              --mysql-password=ps \
              --mysql-db=sbtest \
              --mysql-table-engine=innodb \
              --oltp-table-size=1000000 \
              /usr/share/sysbench/tests/include/oltp_legacy/oltp.lua \
              prepare
          sysbench \
              --rate=200 \
              --threads=64 \
              --report-interval=10 \
              --time=0 \
              --events=0 \
              --rand-type=pareto \
              --db-driver=mysql \
              --mysql-host=mysql \
              --mysql-port=3306 \
              --mysql-user=root \
              --mysql-password=ps \
              --mysql-db=sbtest \
              --mysql-table-engine=innodb \
              --oltp-reconnect \
              --oltp-table-size=1000000 \
              /usr/share/sysbench/tests/include/oltp_legacy/select.lua \
              run
      "
