---
version: '3.8'
services:
  pmm-server:
    image: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:dev-latest}
    container_name: pmm-server
    ports:
      - "80:80"
      - "443:443"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/ping"]
      interval: 3s
      timeout: 2s
      retries: 20
    environment:
      - PMM_DEBUG=1
      - PERCONA_TEST_VERSION_SERVICE_URL=https://check-dev.percona.com/versions/v1

  pmm-client:
    image: ${PMM_CLIENT_IMAGE:-perconalab/pmm-client:dev-latest}
    container_name: pmm-client
    ports:
      - "7778:7777"
    depends_on:
      pmm-server:
        condition: service_healthy
    environment:
      - PMM_AGENT_SETUP=1
      - PMM_AGENT_SERVER_ADDRESS=pmm-server
      - PMM_AGENT_SERVER_USERNAME=admin
      - PMM_AGENT_SERVER_PASSWORD=${ADMIN_PASSWORD:-admin}
      - PMM_AGENT_PORTS_MIN=41000
      - PMM_AGENT_PORTS_MAX=41500
      - PMM_AGENT_SERVER_INSECURE_TLS=1
      - PMM_AGENT_CONFIG_FILE=config/pmm-agent.yaml
      - PMM_AGENT_SETUP_NODE_NAME=${PMM_AGENT_SETUP_NODE_NAME:-pmm-client-container}
      - PMM_AGENT_SETUP_FORCE=1
      - PMM_AGENT_SETUP_NODE_TYPE=container
      - PMM_AGENT_PRERUN_SCRIPT=${PMM_AGENT_PRERUN_SCRIPT}
    restart: on-failure

  mongors1:
    container_name: mongors1
    image: 'percona/percona-server-mongodb:4.4'
    ports:
      - 27027:27027
    restart: always
    volumes:
      - '.:/root/pmm-agent'
    command:
      - --profile=2
    entrypoint:
      - /usr/bin/mongod
      - '--bind_ip_all'
      - '--port'
      - '27027'
      - '--replSet'
      - rs0

  mongors2:
    container_name: mongors2
    image: 'percona/percona-server-mongodb:4.4'
    ports:
      - 27028:27028
    restart: always
    volumes:
      - '.:/root/pmm-agent'
    command:
      - --profile=2
    entrypoint:
      - /usr/bin/mongod
      - '--bind_ip_all'
      - '--port'
      - '27028'
      - '--replSet'
      - rs0

  mongors3:
    container_name: mongors3
    image: 'percona/percona-server-mongodb:4.4'
    ports:
      - 27029:27029
    restart: always
    volumes:
      - '.:/root/pmm-agent'
    command:
      - --profile=2
    entrypoint:
      - /usr/bin/mongod
      - '--bind_ip_all'
      - '--port'
      - '27029'
      - '--replSet'
      - rs0
