---
version: '3.7'

networks:
  server-network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.140.0.0/16
          gateway: 192.140.0.1
  mysql-network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.150.0.0/16
          gateway: 192.150.0.1

services:
  pmm-server-disconnect:
    image: ${PMM_SERVER_IMAGE:-perconalab/pmm-server:dev-latest}
    container_name: pmm-server-disconnect
    ports:
      - '8180:80'
      - '8143:443'
    environment:
      - PMM_DEBUG=1
      - PERCONA_TEST_SAAS_HOST=check-dev.percona.com:443
      - PERCONA_TEST_CHECKS_PUBLIC_KEY=RWTg+ZmCCjt7O8eWeAmTLAqW+1ozUbpRSKSwNTmO+exlS5KEIPYWuYdX
      - PERCONA_TEST_VERSION_SERVICE_URL=https://check-dev.percona.com/versions/v1
      - PERCONA_TEST_TELEMETRY_INTERVAL=10s
      - PERCONA_TEST_TELEMETRY_RETRY_BACKOFF=10s
    networks:
      - server-network

  pmm-client:
    image: perconalab/pmm-client:dev-latest
    container_name: pmm-client-disconnect
    depends_on:
      pmm-server-disconnect:
        condition: service_healthy
    environment:
      - PMM_AGENT_SETUP=1
      - PMM_AGENT_SERVER_ADDRESS=pmm-server-disconnect
      - PMM_AGENT_SERVER_USERNAME=admin
      - PMM_AGENT_SERVER_PASSWORD=${ADMIN_PASSWORD:-admin}
      - PMM_AGENT_PORTS_MIN=41000
      - PMM_AGENT_PORTS_MAX=41500
      - PMM_AGENT_SERVER_INSECURE_TLS=1
      - PMM_AGENT_CONFIG_FILE=config/pmm-agent.yaml
      - PMM_AGENT_SETUP_NODE_NAME=pmm-agent-disconnect
      - PMM_AGENT_SETUP_FORCE=1
      - PMM_AGENT_SETUP_NODE_TYPE=container
    restart: on-failure
    networks:
      - server-network
      - mysql-network

  mysql5.7:
    container_name: mysql-disconnect-5.7
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 7B*53@lCdflR
    networks:
      - mysql-network
