# This workflow will do a clean install of node dependencies  and run lint tests

name: CI

on:
  pull_request:
    branches:
      - main
      - v3

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: percona-platform/checkout@v2
    - name: Use Node.js 16.x
      uses: percona-platform/setup-node@v2
      with:
        node-version: 16.x
    - name: Install Dependencies
      run: npm ci
    - name: Run lint:tests
      run: npm run lint:tests

  e2e_fb_tests:
    name: e2e FB tests
    uses: percona/pmm-qa/.github/workflows/e2e-codeceptjs-matrix.yml@v3
    with:
      sha: 'null'
      pmm_ui_tests_branch: ${{ github.head_ref }}
      pmm_qa_branch: 'v3'
      pmm_server_image: 'perconalab/pmm-server:3.4.0-rc'
      pmm_client_image: 'perconalab/pmm-client:3.4.0-rc'
      pmm_client_version: 'pmm3-rc'
