# This workflow will do a clean install  of node dependencies and run lint tests

name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-18.04
    steps:
    - uses: percona-platform/checkout@v2
    - name: Use Node.js 16.x
      uses: percona-platform/setup-node@v2
      with:
        node-version: 16.x
    - name: Install Dependencies
      run: npm ci
    - name: Run lint:tests
      run: npm run lint:tests

  fb_tests:
    name: FB UI tests
    uses: Percona-Lab/pmm-submodules/.github/workflows/pmm2-ui-tests-fb.yml@PMM-2.0
    secrets:
      BACKUP_LOCATION_ACCESS_KEY: ${{ secrets.BACKUP_LOCATION_ACCESS_KEY }}
      BACKUP_LOCATION_SECRET_KEY: ${{ secrets.BACKUP_LOCATION_SECRET_KEY }}
    with:
      server_image: 'perconalab/pmm-server:dev-latest'
      client_version: 'dev-latest'
      client_image: 'perconalab/pmm-client:dev-latest'
      pmm_qa_branch: 'main'
      pmm_ui_branch: ${{ github.head_ref }}
      sha: 'null'
