---
name: PMM UI Upgrade Tests Runner

on:
  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch'
        default: 'main'
        type: string
        required: true
      pre_upgrade_tests:
        description: 'Tag(s) to run tests before upgrade'
        type: string
        required: true
      post_upgrade_tests:
        description: 'Tag(s) to run tests after upgrade'
        type: string
        required: true
      pmm_server_start_version:
        description: 'PMM Server version to upgrade (latest|dev-latest|x.xx.x|x.xx.x-rc)'
        default: 'latest'
        type: string
        required: true
      pmm_client_start_version:
        description: 'PMM Client version to upgrade from (dev-latest|pmm2-latest|pmm2-rc|x.xx.x)'
        default: 'pmm2-latest'
        type: string
        required: true
      pmm_qa_branch:
        description: 'pmm-qa repository branch(for setup)'
        default: 'main'
        type: string
        required: true
      services_list:
        description: 'Services for pmm-server'
        default: '--addclient=ps,1'
        type: string
        required: true
      repository:
        description: 'Upgrade to:'
        required: true
        default: 'dev-latest'
        type: string

  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch'
        default: 'main'
        required: true
      pre_upgrade_tests:
        description: 'Tag(s) to run tests before upgrade'
        required: true
      post_upgrade_tests:
        description: 'Tag(s) to run tests after upgrade'
        required: true
      pmm_server_start_version:
        description: 'PMM Server version to upgrade (latest|dev-latest|x.xx.x|x.xx.x-rc)'
        default: 'latest'
        required: true
      pmm_client_start_version:
        description: 'PMM Client version to upgrade from (dev-latest|pmm2-latest|pmm2-rc|x.xx.x)'
        default: 'pmm2-latest'
        required: true
      pmm_qa_branch:
        description: 'pmm-qa repository branch(for setup)'
        default: 'main'
        required: true
      services_list:
        description: 'Services for pmm-server'
        default: '--addclient=ps,1'
        required: true
      repository:
        description: 'Upgrade to:'
        required: true
        default: 'dev-latest'
        type: choice
        options:
          - 'release'
          - 'release candidate'
          - 'dev-latest'

jobs:
  tests:
    name: '${{ inputs.pre_upgrade_tests }} > ${{ inputs.post_upgrade_tests }}'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      SHA: ${{ inputs.sha || 'null' }}
      PMM_BASE_URL: https://127.0.0.1
      ADMIN_PASSWORD: admin

      PMM_SERVER_VERSION: ${{ inputs.pmm_server_start_version }}
      PMM_CLIENT_VERSION: ${{ inputs.pmm_client_start_version }}

      OKTA_TOKEN: ${{ secrets.OKTA_TOKEN }}
      OAUTH_ISSUER_URL: 'https://id-dev.percona.com/oauth2/aus15pi5rjdtfrcH51d7'
      OAUTH_CLIENT_ID: ${{ secrets.OKTA_OAUTH_CLIENT_ID }}
      OAUTH_CLIENT_SECRET: ${{ secrets.OKTA_OAUTH_CLIENT_SECRET }}
      OAUTH_PMM_CLIENT_ID: ${{ secrets.OKTA_OAUTH_PMM_CLIENT_ID }}
      OAUTH_PMM_CLIENT_SECRET: ${{ secrets.OKTA_OAUTH_PMM_CLIENT_SECRET }}
      OAUTH_DEV_HOST: ${{ secrets.OAUTH_DEV_HOST }}
      OAUTH_SCOPES: percona

      # Variables for E2E tests
      MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
      MAILOSAUR_UI_TESTS_SERVER_ID: ${{ secrets.MAILOSAUR_UI_TESTS_SERVER_ID }}
      MAILOSAUR_API_TESTS_SERVER_ID: ${{ secrets.MAILOSAUR_API_TESTS_SERVER_ID }}

      SERVICENOW_LOGIN: percona_platform
      SERVICENOW_PASSWORD: ${{ secrets.SERVICENOW_PASSWORD }}
      SERVICENOW_DEV_URL: 'https://perconadev.service-now.com/api/x_pellc_percona_pl/platform/settest'

    steps:
      - name: 'PMM Server(${{ inputs.pmm_server_start_version }}) and UI tests with tags "${{ inputs.pre_upgrade_tests }}, ${{ inputs.post_upgrade_tests }}" from pmm-ui-tests branch: ${{ inputs.pmm_ui_tests_branch }}'
        if: ${{ github.event_name == 'workflow_dispatch' && env.SHA != 'null' }}
        uses: percona-platform/github-status-action@v1
        with:
          context: 'pmm2-ui-tests'
          description: 'Tests execution has been started'
          state: 'pending'
          repository: ${{ inputs.repo }}
          target_url: 'https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}'
          sha: ${{ env.SHA }}

      - name: Install NodeJS v16
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.1

      - name: Checkout UI tests
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.pmm_qa_branch }}
          repository: percona/pmm-ui-tests
          path: ./pmm-ui-tests

      - name: Checkout pmm-qa ${{ inputs.pmm_qa_branch }} branch
        uses: actions/checkout@v3
        with:
          # token: ${{ secrets.ROBOT_TOKEN }}
          repository: percona/pmm-qa
          ref: ${{ inputs.pmm_qa_branch }}
          path: ./pmm-qa

      - name: Select PMM Server image
        uses: actions/github-script@v6
        id: pmm_server_image
        with:
          script: |
            const tag = context.payload.inputs.pmm_server_start_version
            let repo = 'percona';
            if (tag.includes('dev-') || tag.includes('-rc')) {
              repo = 'perconalab';
            }
            return `${repo}/pmm-server:${tag}`
          result-encoding: string

      - name: 'Setup PMM Sever: ${{ steps.pmm_server_image.outputs.result }}'
        working-directory: pmm-qa/pmm-integration
        run: |
          npm install
          sudo npx ts-node ./integration-setup.ts --ci --setup-docker-pmm-server --rbac --pmm-server-docker-tag=${{ steps.pmm_server_image.outputs.result }} --pmm-client-version=${{ inputs.pmm_client_start_version }}          

      - name: PMM Server health check
        run: timeout 100 bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost/ping)" != "200" ]]; do sleep 5; done' || false

      - name: Setup PMM Client and Services
        run: |
          sudo bash ./pmm-qa/pmm-tests/pmm2-client-setup.sh --pmm_server_ip 127.0.0.1 --client_version ${{ inputs.pmm_client_start_version }} --admin_password admin --use_metrics_mode no
          sudo bash ./pmm-qa/pmm-tests/pmm-framework.sh \
            --download \
            ${{ inputs.services_list }} \
            --pmm2 \
            --pmm2-server-ip=127.0.0.1
          sleep 30
          sudo pmm-admin list
        shell: bash

      - name: Convert repo choice
        uses: actions/github-script@v6
        id: target_repo
        with:
          script: |
            switch (context.payload.inputs.repository) {
              case 'release':
                return 'release';
              case 'release candidate':
                return 'testing'
              case 'dev-latest':
                return 'experimental'
            }
          result-encoding: string

      - name: Enable ${{ steps.target_repo.outputs.result }} repository
        run: |
            docker exec pmm-integration-server bash -c "echo exclude=mirror.es.its.nyu.edu | tee -a /etc/yum/pluginconf.d/fastestmirror.conf"
            docker exec pmm-integration-server yum update -y percona-release
            docker exec pmm-integration-server sed -i'' -e 's^/release/^/${{ steps.target_repo.outputs.result }}/^' /etc/yum.repos.d/pmm2-server.repo
            docker exec pmm-integration-server percona-release enable percona ${{ steps.target_repo.outputs.result }}
            docker exec pmm-integration-server yum update -y
            sudo percona-release enable percona ${{ steps.target_repo.outputs.result }}
            sudo apt-get update -y

      - name: Install  playwright
        working-directory: pmm-ui-tests
        run: |
          npm install
          npx playwright install

      - name: Execute Pre Upgrade UI tests
        id: ui-tests-flagged
        working-directory: pmm-ui-tests
        run: |
          touch portalCredentials
          npx playwright test --config="playwright-tests/playwright.config.ts" --grep="${{ inputs.pre_upgrade_tests }}"
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 0

      - name: Execute UI pmm-server Upgrade
        working-directory: pmm-ui-tests
        run: |
          npx playwright test --config="playwright-tests/playwright.config.ts" --grep="@pmm-upgrade"
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 0

      - name: Execute pmm-client Upgrade.
        if: ${{ inputs.pmm_client_upgrade_version == '' }}
        run: |
            sudo apt-get update
            sudo apt -y install pmm2-client

      - name: Execute pmm-client Upgrade to selected version
        if: ${{ inputs.pmm_client_upgrade_version != '' }}
        working-directory: pmm-qa/pmm-integration
        run: |
          sudo npx ts-node ./integration-setup.ts --ci --upgrade-pmm-client-version=${{ inputs.pmm_client_upgrade_version }}

      - name: Execute Post Upgrade UI tests
        working-directory: pmm-ui-tests
        run: |
          npx playwright test --config="playwright-tests/playwright.config.ts" --grep="${{ inputs.post_upgrade_tests }}"
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 0
